.home {
    display: flex;
    width: 90vw;
}

.home .home-content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.home .form-home {
    width: 50vw;
}