.pwdreset {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pwdreset input {
    width: 250px;
    height: 25px;
    outline: none;
    margin-bottom: 10px;
}

.pwdreset button {
    width: 110px;
    height: 30px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 9px;
}