.profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: rgb(5, 21, 36);
}
.profile h1{
    background-color: transparent;
}

.profile input{
    height: 23px;
    outline: none;
    border-radius: 10px;
    padding-left: 12px;
    width: 200px;
    background-color: transparent;
    color: rgb(83, 125, 204);
}

.profile button{
    height: 29px;
    outline: none;
    border-radius: 10px;
    padding-left: 12px;
    width: 100px;
    background-color: transparent;
    color: rgb(188, 196, 211);
    cursor: pointer;
}

.profile button:hover{
    background-color: rgb(20, 36, 70);
    color: rgb(95, 175, 29);
}